.severity-alert{
   margin-top: 20px;
}
.severity-count{
  margin-left: 500px;
  margin-top: -85px;
}
ul{
    list-style: none;
}

.client{
    margin-top: 29px;
}

.client-count{
    margin-left: 500px;
    margin-top: -110px;
}

.protocol{
    margin-top: 20px;
}

.protocol-count{
    margin-left: 500px;
    margin-top: -110px;
}

.country{
    margin-top: 20px;
}

.country-count{
    margin-left: 500px;
    margin-top: -110px;
}