<div style="text-align:center">
  Total Alert Count 
</div> 
<div class="input">
    Filters<input [(ngModel)]="searchText" placeholder="search">  <input [(ngModel)]="countryText" placeholder="searchCountry">
  </div>
<br>
<div class="container">
    <div>Severity</div>
    <div class="severity">
    <ul class="severity-alert">
       <li *ngFor="let alert of uniqueSeverityData | filter: searchText ">    
         {{alert}}
       </li> 
    </ul>
    <ul class="severity-count">
        <li *ngFor="let count of objectKeys(alertCount).slice(1) | filter: searchText">
            {{alertCount[count]}}
         </li>
    </ul>
    </div>
</div>
<br>
<div class="container">
    <div>Client IP </div>
    <ul class='client'>
      <li  *ngFor="let clientip of uniqueClientIp ">
        {{clientip}}
      </li>
    </ul>
    <ul class="client-count">
        <li *ngFor="let ipcount of objectKeys(clientIpCount).slice(1)">
            {{clientIpCount[ipcount]}}
         </li>
    </ul>
</div>
<br>
<div class="container">
    <div>Protocol</div>
    <ul class="protocol">
        <li *ngFor="let protocol of uniqueprotocol">
          {{protocol}}
        </li>
      </ul>
      <ul class="protocol-count">
          <li *ngFor="let protocolC of objectKeys(protocolCount).slice(1)">
              {{protocolCount[protocolC]}}
           </li>
      </ul>
  
</div>
<br>
<div class="container">
  
    <div>Client Country</div>
    <ul class="country">
        <li *ngFor="let country of uniqueCountry | filter: countryText">
          {{country}}
        </li>
      </ul>
      <ul class="country-count">
          <li *ngFor="let country of objectKeys(countryCount).slice(1) | filter: countryText" >
              {{countryCount[country]}}
           </li>
      </ul>
 
</div>